<div class="col-md-2 col-centered" ng-controller='LogoutController'>
    <div class="dialog brand">
        <div class="title">
            Hartville.io
        </div>
        
        <div class='content'>
            <h3 style="margin:0">Are you sure you want to log out?</h3>

            <button class="button brand accent col-md-1" ng-click="logout()">
                <div class="center">Log Out</div>
                <paper-ripple fit></paper-ripple>
            </button>
            
            <button class="button brand col-md-1 rightButton" ng-click="cancel()">
                <div class="center">Cancel</div>
                <paper-ripple fit></paper-ripple>
            </button>
            
        </div>
    </div>
</div>
