img {
    max-width: 865px;
}

#main {
	margin: auto;
	max-width: 865px;
}

#logo {
	width: 100%;
	font-size: 5em;
	font-family: monospace;
	color: #f00;
}

#logo span {
	color: #f90;
}

#navbar {
	width: 100%;
}

#navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#navbar li {
	float: left;
}

#navbar a:link, #navbar a:visited{
	color: #fff;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.5em;
	display: block;
	padding: .3em;
	border: 1px solid #fff;
	background-color: #f00;
	transition: background 400ms;
}

#navbar a:hover{
	background-color: #f90;
	transition: background 400ms;
}

