body {
  font-family: 'Open Sans', 'Century Gothic' sans-serif;
  color: #4d4d57;
  font-weight: 400;
}
h1, h2, h3, h4 {font-weight: 200; color:#7e7f7f;}
h5, h6 {font-weight: 600; color:#7e7f7f;}
li{
  list-style: none;
}
padded{
  padding: 10px 10px;
}
.panel{border:none;}
.navbar-primary{
	background-color: #d9534f;
	color: #fff;
	border-radius: 0px;
}
.navbar-brand, .navbar-brand:hover {color: #fff;}
nav li a{color: #fff;}
nav li a:hover{color: #fff;}

.btn {
	border-radius: 0px;
}