node_modules
public/vendor
server/database/databaseConnect.js
server/database/verifyCredentials.js
server/customConfig.js
commit command
public/postFiles
public/userFiles/avatars
server/auth
public/css/styles.css
public/app.min.js
public/js/appConfig.js