<div class="container-full-bg padded">
    <div class="container special">
      	<div class="jumbotron">
      	    <h1 ng-bind="title"></h1>    
      	</div>
    </div>
</div>

<div class="container padded">
    <div class="row">
        <div class="col-md-12">
            <h1>HTML Ipsum Presents</h1>
	       
            <p><strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, <code>commodo vitae</code>, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. <a href="">Donec non enim</a> in turpis pulvinar facilisis. Ut felis.</p>
            
            <h1>Header Level 1</h1>
            <h2>Header Level 2</h2>
            <h3>Header Level 3</h3>
            <h4>Header Level 4</h4>
            <h5>Header Level 5</h5>
            <h6>Header Level 6</h6>
            
            <h2>Button Examples</h2>
            <hr>
            <h4>Floating Action Buttons</h4>
             <div class="fab brand">
               <div class="fa fa-plus core-icon"></div>
               <paper-ripple class="circle recenteringTouch" fit></paper-ripple>
             </div>
            
            <div class="fab accent">
               <div class="fa fa-plus core-icon"></div>
               <paper-ripple class="circle recenteringTouch" fit></paper-ripple>
             </div>
             
             <div class="fab info">
               <div class="fa fa-plus core-icon"></div>
               <paper-ripple class="circle recenteringTouch" fit></paper-ripple>
             </div>
             
             <div class="fab disabled">
               <div class="fa fa-plus core-icon"></div>
               <paper-ripple class="circle recenteringTouch" fit></paper-ripple>
             </div>
             
             <h4>Raised Buttons</h4>
            <div class="button raised brand">
               <div class="center" fit>ACCEPT</div>
               <paper-ripple fit></paper-ripple>
            </div>
            
            <div class="button raised accent">
               <div class="center" fit>DECLINE</div>
               <paper-ripple fit></paper-ripple>
            </div>
            
            <div class="button raised info">
               <div class="center" fit>INFO</div>
               <paper-ripple fit></paper-ripple>
            </div>
            
            <div class="button raised disabled" disabled>
               <div class="center" fit>DISABLED</div>
               <paper-ripple fit></paper-ripple>
            </div>
            
            <h4>Flat Buttons</h4>
            <div class="button label-brand">
              <div class="center" fit><span class="fa fa-check"></span> ACCEPT</div>
              <paper-ripple fit></paper-ripple>
            </div>
            
            <div class="button label-accent">
              <div class="center" fit><span class="fa fa-times"></span> DECLINE</div>
              <paper-ripple fit></paper-ripple>
            </div>
            
            <div class="button label-info">
              <div class="center" fit><span class="fa fa-cog"></span> INFO</div>
              <paper-ripple fit></paper-ripple>
            </div>
            
            <div class="button label-disabled">
              <div class="center" fit>DISABLED</div>
              <paper-ripple fit></paper-ripple>
            </div>
            
            <h2>Responsive Card</h2>
            <hr>
         
            <div class="row">
               <div class="col-md-6">
                  <div class="dialog">
          
                     <div class="content">
                       <div class="title">Card Title</div><br>
                       <div>Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</div>
                     </div>
                   
                     <div class="button label-brand">
                       <div class="center" fit>ACCEPT</div>
                       <paper-ripple fit></paper-ripple>
                     </div>
                     
                     <div class="button">
                       <div class="center" fit>DECLINE</div>
                       <paper-ripple fit></paper-ripple>
                     </div>
                   
                  </div>
               </div>
               
               <div class="col-md-6">
                  <div class="dialog">
          
                     <div class="content">
                       <div class="title">Card Title</div><br>
                       <div>Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</div>
                     </div>
                   
                     <div class="button label-brand">
                       <div class="center" fit>ACCEPT</div>
                       <paper-ripple fit></paper-ripple>
                     </div>
                     
                     <div class="button">
                       <div class="center" fit>DECLINE</div>
                       <paper-ripple fit></paper-ripple>
                     </div>
                   
                  </div>
               </div>
               
            </div>
            
            <h2>Responsive Card w/ Images</h2>
            <hr>
            	   
            <div class="row">
               
               <div class="col-md-6">
                  <div class="dialog">
                      
                     <div class="image">
                        <img class="img-responsive" src="http://cdn.images.express.co.uk/img/dynamic/59/590x/Google-New-Logo-See-New-Google-Logo-Font-Change-2015-G-Logo-Google-Different-What-Has-happened-with-Google-Logo-Google-New-Look-602266.jpg"></img>
                     </div>
                      
                     <div class="content">
                       <div class="title">Card Title</div><br>
                       <div>Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</div>
                     </div>
                   
                     <div class="button label-brand">
                       <div class="center" fit>ACCEPT</div>
                       <paper-ripple fit></paper-ripple>
                     </div>
                     
                     <div class="button">
                       <div class="center" fit>DECLINE</div>
                       <paper-ripple fit></paper-ripple>
                     </div>
                   
                  </div>
               </div>
               
               <div class="col-md-6">
                  <div class="dialog">
                      
                     <div class="image">
                        <img class="img-responsive" src="http://img07.deviantart.net/708e/i/2015/146/2/b/big_mountain_12_by_niedec_stock-d8uvgvq.png"></img>
                     </div>
                      
                     <div class="content">
                       <div class="title">Card Title</div><br>
                       <div>Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</div>
                     </div>
                   
                     <div class="button label-brand">
                       <div class="center" fit>ACCEPT</div>
                       <paper-ripple fit></paper-ripple>
                     </div>
                     
                     <div class="button">
                       <div class="center" fit>DECLINE</div>
                       <paper-ripple fit></paper-ripple>
                     </div>
                   
                  </div>
               </div>
               
            </div> 
            
            <ol>
               <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
               <li>Aliquam tincidunt mauris eu risus.</li>
            </ol>
            
            <blockquote><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.</p></blockquote>
            
            
            <ul>
               <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
               <li>Aliquam tincidunt mauris eu risus.</li>
            </ul>
            
            <pre><code>
            #header h1 a { 
            	display: block; 
            	width: 300px; 
            	height: 80px; 
            }
            </code></pre>
            
            <table class="table table-hover">
            	<thead>
            		<tr>
            			<th>First Name</th>
            			<th>Last Name</th>
            			<th>Email</th>
            		</tr>
            	</thead>
            	<tbody>
            		<tr>
            			<td>John</td>
            			<td>Mary</td>
            			<td>Henry</td>
            		</tr>
            		<tr>
            			<td>Smith</td>
            			<td>Doe</td>
            			<td>Williams</td>
            		</tr>
            		<tr>
            			<td>jSmith@example.com</td>
            			<td>mDoe@example.com</td>
            			<td>hWilliams@example.com</td>
            		</tr>
            	</tbody>
            </table>
            
            <dl>
               <dt>Definition list</dt>
               <dd>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna 
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea 
            commodo consequat.</dd>
               <dt>Lorem ipsum dolor sit amet</dt>
               <dd>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna 
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea 
            commodo consequat.</dd>
            </dl>
            
            <ul>
               <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
               <li>Aliquam tincidunt mauris eu risus.</li>
               <li>Vestibulum auctor dapibus neque.</li>
            </ul>
            
            <ol>
               <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
               <li>Aliquam tincidunt mauris eu risus.</li>
               <li>Vestibulum auctor dapibus neque.</li>
            </ol>
            
        </div>
    </div>
</div>