<div class="container-full-bg padded">
    <div class="container special">
      	<div class="jumbotron">
      	    <h1 ng-bind="title"></h1>    
      	</div>
    </div>
</div>

<div class="container padded">
    <div class="row">
        <div class="col-md-12">
            <h1>HTML Ipsum Presents</h1>
	       
            <p><strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, <code>commodo vitae</code>, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. <a href="">Donec non enim</a> in turpis pulvinar facilisis. Ut felis.</p>
            
            <h2>Header Level 2</h2>
            	       
            <ol>
               <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
               <li>Aliquam tincidunt mauris eu risus.</li>
            </ol>
            
            <blockquote><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.</p></blockquote>
            
            <h3>Header Level 3</h3>
            
            <ul>
               <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
               <li>Aliquam tincidunt mauris eu risus.</li>
            </ul>
            
            <pre><code>
            #header h1 a { 
            	display: block; 
            	width: 300px; 
            	height: 80px; 
            }
            </code></pre>
            
            <table class="table table-hover">
            	<thead>
            		<tr>
            			<th>First Name</th>
            			<th>Last Name</th>
            			<th>Email</th>
            		</tr>
            	</thead>
            	<tbody>
            		<tr>
            			<td>John</td>
            			<td>Mary</td>
            			<td>Henry</td>
            		</tr>
            		<tr>
            			<td>Smith</td>
            			<td>Doe</td>
            			<td>Williams</td>
            		</tr>
            		<tr>
            			<td>jSmith@example.com</td>
            			<td>mDoe@example.com</td>
            			<td>hWilliams@example.com</td>
            		</tr>
            	</tbody>
            </table>
            
            <dl>
               <dt>Definition list</dt>
               <dd>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna 
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea 
            commodo consequat.</dd>
               <dt>Lorem ipsum dolor sit amet</dt>
               <dd>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna 
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea 
            commodo consequat.</dd>
            </dl>
            
            <ul>
               <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
               <li>Aliquam tincidunt mauris eu risus.</li>
               <li>Vestibulum auctor dapibus neque.</li>
            </ul>
            
            <ol>
               <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
               <li>Aliquam tincidunt mauris eu risus.</li>
               <li>Vestibulum auctor dapibus neque.</li>
            </ol>
            
        </div>
    </div>
</div>