<div class="container padded">
	<ol class="breadcrumb">
	  <li><a href="#/">Home</a></li>
	  <li class="active">Blog</li>
	</ol>
	<div class="page-header">
		<h1>Blog</h1>
	</div><!-- end page-header -->
	<div class="row">
		<div class="input-group col-sm-4 form-search">
	        <span class="input-group-addon">
	            <span class="glyphicon glyphicon-search"></span>
	        </span>
	        <input type="text" class="form-control" ng-model="post.searchInput" placeholder="Type something to start filtering...">
	    </div><br>
	</div> <!-- end row -->
	<div class="row">
		<div class="col-md-9">
			<ul class="list-group post-list-animation" ng-repeat="post in posts | orderBy:'-date' | filter:post.searchInput">
				<li class="list-group">
					<img ng-src="{{post.images[0].full}}" class="img-responsive" />
					<h1><a ng-href="#/blog/{{ posts.indexOf(post) }}">{{post.title}}</a></h1>
					<p><span class="glyphicon glyphicon-pencil"></span> By {{post.author}} | 
					<span class="glyphicon glyphicon-time"></span> at {{post.date | date:'MM/dd/yyyy @ h:mma'}}</p>
					<hr>
					<p>{{post.content}}</p>
					<a ng-href="#/blog/{{ posts.indexOf(post) }}">READ MORE <span class="glyphicon glyphicon-menu-right"></span></a>
				</li>
			</ul>
		</div> <!--end column-->
		<div class="col-md-3">
			<website-sidebar></website-sidebar>
		</div>
	</div> <!--end row-->
</div> <!--end container -->