<div class="container-full-bg padded">
    <div class="container special">
      	<div class="jumbotron">
      	    <h1 ng-bind="title"></h1>    
      	</div>
    </div>
</div>

<div class="container padded">
    <ol class="breadcrumb">
		<li><a href="/">Home</a></li>
	  <li class="active">Community</a></li>
	</ol>
    
    <div class="dialog brand dialog-animation">
        <div class="title">Community Pages</div>
        
        <div class="content">
            
            <div class="row">
                <div class="col-md-4 text-center">
                    <h2><a href="http://akron.io/">Akron.io</a></h2>
                </div>
                <div class="col-md-8">
                    <blockquote>Connecting the unconnected and promoting Akron's tech community.</blockquote>
                    <ul>
                        <li><a href="http://akron.io/" target="akron.io"><span class="fa fa-external-link"></span> Akron.io Homepage</a></li>
                        <li><a href="http://discuss.akron.io/" target="discuss.akron.io"><span class="fa fa-external-link"></span> Akron.io Discussion Forum</a></li>
                    </ul>
                </div>
            </div>
            
            <hr>
            <div class="row">
                <div class="col-md-4 text-center">
                    <h2><a href="http://akron.io/">Akron.io</a></h2>
                </div>
                <div class="col-md-8">
                    <blockquote>Connecting the unconnected and promoting Akron's tech community.</blockquote>
                    <ul>
                        <li><a href="http://akron.io/" target="akron.io"><span class="fa fa-external-link"></span> Akron.io Homepage</a></li>
                        <li><a href="http://discuss.akron.io/" target="discuss.akron.io"><span class="fa fa-external-link"></span> Akron.io Discussion Forum</a></li>
                    </ul>
                </div>
            </div>
            
            <hr>
            <div class="row">
                <div class="col-md-4 text-center">
                    <h2><a href="http://akron.io/">Akron.io</a></h2>
                </div>
                <div class="col-md-8">
                    <blockquote>Connecting the unconnected and promoting Akron's tech community.</blockquote>
                    <ul>
                        <li><a href="http://akron.io/" target="akron.io"><span class="fa fa-external-link"></span> Akron.io Homepage</a></li>
                        <li><a href="http://discuss.akron.io/" target="discuss.akron.io"><span class="fa fa-external-link"></span> Akron.io Discussion Forum</a></li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
    
</div>