<div class="container padded">
    <div class="row">
        <div class="col-md-12">
            <h1>HTML Ipsum Presents</h1>
            
            <h2>Panels</h2>
            <div class="row">
                <div class="col-md-3">
    				<div class="panel">
    				  <div class="panel-heading">
    				    <h3 class="panel-title">Preview information</h3>
    				  </div>
    				  <div class="panel-body">
    				    Date is displayed after post creation.
    				  </div>
    				</div>
    			</div>
    			
    			<div class="col-md-3">
    				<div class="panel brand">
    				  <div class="panel-heading">
    				    <h3 class="panel-title">Preview information</h3>
    				  </div>
    				  <div class="panel-body">
    				    Date is displayed after post creation.
    				  </div>
    				  <hr>
    				  <div class="button">
                        <div class="center" fit>LINK</div>
                        <paper-ripple fit></paper-ripple>
                      </div>
    				</div>
    			</div>
    			
    			<div class="col-md-3">
    				<div class="panel accent">
    				  <div class="panel-heading">
    				    <h3 class="panel-title">Preview information</h3>
    				  </div>
    				  <div class="panel-body">
    				    Date is displayed after post creation.
    				  </div>
    				  <hr>
    				  <div class="button">
                        <div class="center" fit>LINK</div>
                        <paper-ripple fit></paper-ripple>
                      </div>
    				</div>
    			</div>
    			
    			<div class="col-md-3">
    				<div class="panel info">
    				  <div class="panel-heading">
    				    <h3 class="panel-title">Preview information</h3>
    				  </div>
    				  <div class="panel-body">
    				    Date is displayed after post creation.
    				  </div>
    				  <hr>
    				  <div class="button">
                        <div class="center" fit>LINK</div>
                        <paper-ripple fit></paper-ripple>
                      </div>
    				</div>
    			</div>
			</div>
	       
            <p><strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, <code>commodo vitae</code>, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. <a href="">Donec non enim</a> in turpis pulvinar facilisis. Ut felis.</p>
            
            <h1>Header Level 1</h1>
            <h2>Header Level 2</h2>
            <h3>Header Level 3</h3>
            <h4>Header Level 4</h4>
            <h5>Header Level 5</h5>
            <h6>Header Level 6</h6>
            
            <h2>Button Examples</h2>
            <hr>
            <h4>Floating Action Buttons</h4>
             <div class="fab brand">
               <div class="fa fa-plus core-icon"></div>
               <paper-ripple class="circle recenteringTouch" fit></paper-ripple>
             </div>
            
            <div class="fab accent">
               <div class="fa fa-plus core-icon"></div>
               <paper-ripple class="circle recenteringTouch" fit></paper-ripple>
             </div>
             
             <div class="fab info">
               <div class="fa fa-plus core-icon"></div>
               <paper-ripple class="circle recenteringTouch" fit></paper-ripple>
             </div>
             
             <div class="fab disabled">
               <div class="fa fa-plus core-icon"></div>
               <paper-ripple class="circle recenteringTouch" fit></paper-ripple>
             </div>
             
             <h4>Raised Buttons</h4>
            <div class="button raised brand">
               <div class="center" fit>ACCEPT</div>
               <paper-ripple fit></paper-ripple>
            </div>
            
            <div class="button raised accent">
               <div class="center" fit>DECLINE</div>
               <paper-ripple fit></paper-ripple>
            </div>
            
            <div class="button raised info">
               <div class="center" fit>INFO</div>
               <paper-ripple fit></paper-ripple>
            </div>
            
            <div class="button raised disabled" disabled>
               <div class="center" fit>DISABLED</div>
               <paper-ripple fit></paper-ripple>
            </div>
            
            <h4>Flat Buttons</h4>
            <div class="button label-brand">
              <div class="center" fit><span class="fa fa-check"></span> ACCEPT</div>
              <paper-ripple fit></paper-ripple>
            </div>
            
            <div class="button label-accent">
              <div class="center" fit><span class="fa fa-times"></span> DECLINE</div>
              <paper-ripple fit></paper-ripple>
            </div>
            
            <div class="button label-info">
              <div class="center" fit><span class="fa fa-cog"></span> INFO</div>
              <paper-ripple fit></paper-ripple>
            </div>
            
            <div class="button label-disabled">
              <div class="center" fit>DISABLED</div>
              <paper-ripple fit></paper-ripple>
            </div>
            
            <h4>Form Buttons</h4>
            <button class="button raised brand">
              <div class="center" fit>SUBMIT</div>
              <paper-ripple fit></paper-ripple>
            </button>
            
            <button class="button raised accent" disabled>
              <div class="center" fit>RESET</div>
              <paper-ripple fit></paper-ripple>
            </button>
            
            <h2>Responsive Full-Width</h2>
            <hr>
            <div class="col-md-12">
                  <div class="dialog info">
          
                     <div class="title">Card Title</div>
                     <div class="image">
                        <img class="img-responsive" src="http://wallpaper-download.net/wallpapers/beautiful-wallpapers-purple-nature-wallpaper-wallpaper-35654.jpg"></img>
                     </div>
                     <div class="content">
                       <div>
                           <p>Etiam in purus venenatis, ultrices ex vitae, lobortis ligula. In sed elit hendrerit, egestas elit non, pretium nisi. Morbi faucibus mi erat. Fusce id ex nisi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                           <p>Nunc venenatis turpis eu ligula pretium aliquet. Cras vel mauris aliquam, scelerisque velit non, facilisis erat.</p>
                           <blockquote>Phasellus lorem lacus, viverra eu lacus id, sollicitudin mattis lectus. Quisque interdum nisi at mi sodales, quis posuere leo aliquam.</blockquote>
                           </div>
                     </div>
                       <hr class="card-hr">
                     <div class="button">
                       <div class="center" fit>LEARN MORE</div>
                       <paper-ripple fit></paper-ripple>
                     </div>
                     
                     <div class="button">
                       <div class="center" fit>SHARE</div>
                       <paper-ripple fit></paper-ripple>
                     </div>
                     
                     <div ng-controller="CollapseController">
    					<div type="button" class="post-info-button" ng-click="isCollapsed = !isCollapsed">
    					    <span class="fa fa-info"></span>
    					</div>
    					<div collapse="!isCollapsed">
                            <div class="post-info">
                                 <a ng-href="#">John Smith</a> at <em>09/03/2015 @ 1:20PM</em>
                             </div>
    					</div>
    				 </div>
                   
                  </div>
               </div>
            
            <h2>Responsive Card Large</h2>
            <hr>
         
            <div class="row">
               
               <div class="col-md-6">
                  <div class="dialog">
          
                     <div class="title">Card Title</div>
          
                     <div class="content">
                       <div>
                           <p>Etiam in purus venenatis, ultrices ex vitae, lobortis ligula. In sed elit hendrerit, egestas elit non, pretium nisi. Morbi faucibus mi erat. Fusce id ex nisi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                           <p>Nunc venenatis turpis eu ligula pretium aliquet. Cras vel mauris aliquam, scelerisque velit non, facilisis erat.</p>
                           <blockquote>Phasellus lorem lacus, viverra eu lacus id, sollicitudin mattis lectus. Quisque interdum nisi at mi sodales, quis posuere leo aliquam.</blockquote>
                           </div>
                     </div>
                       <hr class="card-hr">
                     <div class="button">
                       <div class="center" fit>LEARN MORE</div>
                       <paper-ripple fit></paper-ripple>
                     </div>
                     
                     <div class="button">
                       <div class="center" fit>SHARE</div>
                       <paper-ripple fit></paper-ripple>
                     </div>
                     
                     <div ng-controller="CollapseController">
    					<div type="button" class="post-info-button" ng-click="isCollapsed = !isCollapsed">
    					    <span class="fa fa-info"></span>
    					</div>
    					<div collapse="!isCollapsed">
                            <div class="post-info">
                                 <a ng-href="#">John Smith</a> at <em>09/03/2015 @ 1:20PM</em>
                             </div>
    					</div>
    				 </div>
                   
                  </div>
               </div>
               
               <div class="col-md-6">
                  <div class="dialog brand">
          
                     <div class="title">Blog Card</div>
          
                     <div class="content">
                       <div>
                           <p>Etiam in purus venenatis, ultrices ex vitae, lobortis ligula. In sed elit hendrerit, egestas elit non, pretium nisi. Morbi faucibus mi erat. Fusce id ex nisi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                           <p>Nunc venenatis turpis eu ligula pretium aliquet. Cras vel mauris aliquam, scelerisque velit non, facilisis erat.</p>
                           <blockquote>Phasellus lorem lacus, viverra eu lacus id, sollicitudin mattis lectus. Quisque interdum nisi at mi sodales, quis posuere leo aliquam.</blockquote>
                           </div>
                     </div>
                       <hr class="card-hr">
                     <div class="button">
                       <div class="center" fit>READ MORE</div>
                       <paper-ripple fit></paper-ripple>
                     </div>
                     
                     <div class="button">
                       <div class="center" fit>SHARE</div>
                       <paper-ripple fit></paper-ripple>
                     </div>
                     
                     <div ng-controller="CollapseController">
    					<div type="button" class="post-info-button" ng-click="isCollapsed = !isCollapsed">
    					    <span class="fa fa-info"></span>
    					</div>
    					<div collapse="!isCollapsed">
                            <div class="post-info">
                                 <a ng-href="#">John Smith</a> at <em>09/03/2015 @ 1:20PM</em>
                             </div>
    					</div>
    				 </div>
                   
                  </div>
               </div>
               
               <div class="col-md-6">
                  <div class="dialog accent">
          
                     <div class="title">Card Title</div>
                     <div class="image">
                        <img class="img-responsive" src="http://wallpapersyet.com/wp-content/uploads/2015/08/Tiger-Nature-HD.jpg"></img>
                     </div>
                     <div class="content">
                       <div>
                           <p>Etiam in purus venenatis, ultrices ex vitae, lobortis ligula. In sed elit hendrerit, egestas elit non, pretium nisi. Morbi faucibus mi erat. Fusce id ex nisi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                           <p>Nunc venenatis turpis eu ligula pretium aliquet. Cras vel mauris aliquam, scelerisque velit non, facilisis erat.</p>
                           <blockquote>Phasellus lorem lacus, viverra eu lacus id, sollicitudin mattis lectus. Quisque interdum nisi at mi sodales, quis posuere leo aliquam.</blockquote>
                           </div>
                     </div>
                       <hr class="card-hr">
                     <div class="button">
                       <div class="center" fit>LEARN MORE</div>
                       <paper-ripple fit></paper-ripple>
                     </div>
                     
                     <div class="button">
                       <div class="center" fit>SHARE</div>
                       <paper-ripple fit></paper-ripple>
                     </div>
                     
                     <div ng-controller="CollapseController">
    					<div type="button" class="post-info-button" ng-click="isCollapsed = !isCollapsed">
    					    <span class="fa fa-info"></span>
    					</div>
    					<div collapse="!isCollapsed">
                            <div class="post-info">
                                 <a ng-href="#">John Smith</a> at <em>09/03/2015 @ 1:20PM</em>
                             </div>
    					</div>
    				 </div>
                   
                  </div>
               </div>
               
               <div class="col-md-6">
                  <div class="dialog info">
          
                     <div class="title">Card Title</div>
                     <div class="image">
                        <img class="img-responsive" src="http://wallpaper-download.net/wallpapers/beautiful-wallpapers-purple-nature-wallpaper-wallpaper-35654.jpg"></img>
                     </div>
                     <div class="content">
                       <div>
                           <p>Etiam in purus venenatis, ultrices ex vitae, lobortis ligula. In sed elit hendrerit, egestas elit non, pretium nisi. Morbi faucibus mi erat. Fusce id ex nisi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                           <p>Nunc venenatis turpis eu ligula pretium aliquet. Cras vel mauris aliquam, scelerisque velit non, facilisis erat.</p>
                           <blockquote>Phasellus lorem lacus, viverra eu lacus id, sollicitudin mattis lectus. Quisque interdum nisi at mi sodales, quis posuere leo aliquam.</blockquote>
                           </div>
                     </div>
                       <hr class="card-hr">
                     <div class="button">
                       <div class="center" fit>LEARN MORE</div>
                       <paper-ripple fit></paper-ripple>
                     </div>
                     
                     <div class="button">
                       <div class="center" fit>SHARE</div>
                       <paper-ripple fit></paper-ripple>
                     </div>
                     
                     <div ng-controller="CollapseController">
    					<div type="button" class="post-info-button" ng-click="isCollapsed = !isCollapsed">
    					    <span class="fa fa-info"></span>
    					</div>
    					<div collapse="!isCollapsed">
                            <div class="post-info">
                                 <a ng-href="#">John Smith</a> at <em>09/03/2015 @ 1:20PM</em>
                             </div>
    					</div>
    				 </div>
                   
                  </div>
               </div>
               
            </div>
            
            <h2>Responsive Card Small</h2>
            <hr>
            <div class="row">
                <div class="col-md-3">
                      <div class="dialog">
              
                         <div class="title">Card Title</div>
                         <div class="image">
                            <img class="img-responsive" src="http://wallpapersyet.com/wp-content/uploads/2015/08/Tiger-Nature-HD.jpg"></img>
                         </div>
                         <div class="content">
                           <div>
                               <p>Etiam in purus venenatis, ultrices ex vitae, lobortis ligula. In sed elit hendrerit, egestas elit non, pretium nisi. Morbi faucibus mi erat. Fusce id ex nisi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                             </div>
                           <hr class="card-hr">
                         <div class="button">
                           <div class="center" fit>LEARN MORE</div>
                           <paper-ripple fit></paper-ripple>
                         </div>
                         
                         <div class="button">
                           <div class="center" fit>SHARE</div>
                           <paper-ripple fit></paper-ripple>
                         </div>
                         
                         <div ng-controller="CollapseController">
        					<div type="button" class="post-info-button" ng-click="isCollapsed = !isCollapsed">
        					    <span class="fa fa-info"></span>
        					</div>
        					<div collapse="!isCollapsed">
                                <div class="post-info">
                                     <a ng-href="#">John Smith</a> at <em>09/03/2015 @ 1:20PM</em>
                                 </div>
        					</div>
        				 </div>
                       
                      </div>
                   </div>
                </div>
                
                <div class="col-md-3">
                      <div class="dialog info">
              
                         <div class="title">Card Title</div>
                         <div class="image">
                            <img class="img-responsive" src="http://wallpapersyet.com/wp-content/uploads/2015/08/Tiger-Nature-HD.jpg"></img>
                         </div>
                         <div class="content">
                           <div>
                               <p>Etiam in purus venenatis, ultrices ex vitae, lobortis ligula. In sed elit hendrerit, egestas elit non, pretium nisi. Morbi faucibus mi erat. Fusce id ex nisi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                         </div>
                           <hr class="card-hr">
                         <div class="button">
                           <div class="center" fit>LEARN MORE</div>
                           <paper-ripple fit></paper-ripple>
                         </div>
                         
                         <div class="button">
                           <div class="center" fit>SHARE</div>
                           <paper-ripple fit></paper-ripple>
                         </div>
                         
                         <div ng-controller="CollapseController">
        					<div type="button" class="post-info-button" ng-click="isCollapsed = !isCollapsed">
        					    <span class="fa fa-info"></span>
        					</div>
        					<div collapse="!isCollapsed">
                                <div class="post-info">
                                     <a ng-href="#">John Smith</a> at <em>09/03/2015 @ 1:20PM</em>
                                 </div>
        					</div>
        				 </div>
                       
                      </div>
                   </div>
                </div>
                
                <div class="col-md-3">
                      <div class="dialog brand">
              
                         <div class="title">Card Title</div>
                         <div class="image">
                            <img class="img-responsive" src="http://wallpapersyet.com/wp-content/uploads/2015/08/Tiger-Nature-HD.jpg"></img>
                         </div>
                         <div class="content">
                           <div>
                               <p>Etiam in purus venenatis, ultrices ex vitae, lobortis ligula. In sed elit hendrerit, egestas elit non, pretium nisi. Morbi faucibus mi erat. Inceptos himenaeos.</p>
                         </div>
                           <hr class="card-hr">
                         <div class="button">
                           <div class="center" fit>LEARN MORE</div>
                           <paper-ripple fit></paper-ripple>
                         </div>
                         
                         <div class="button">
                           <div class="center" fit>SHARE</div>
                           <paper-ripple fit></paper-ripple>
                         </div>
                         
                         <div ng-controller="CollapseController">
        					<div type="button" class="post-info-button" ng-click="isCollapsed = !isCollapsed">
        					    <span class="fa fa-info"></span>
        					</div>
        					<div collapse="!isCollapsed">
                                <div class="post-info">
                                     <a ng-href="#">John Smith</a> at <em>09/03/2015 @ 1:20PM</em>
                                 </div>
        					</div>
        				 </div>
                       
                      </div>
                   </div>
                </div>
                
                <div class="col-md-3">
                      <div class="dialog accent">
              
                         <div class="title">Card Title</div>
                         <div class="image">
                            <img class="img-responsive" src="http://wallpapersyet.com/wp-content/uploads/2015/08/Tiger-Nature-HD.jpg"></img>
                         </div>
                         <div class="content">
                           <div>
                               <p>Etiam in purus venenatis, ultrices ex vitae, lobortis ligula. In sed elit hendrerit, egestas elit non, pretium nisi. Morbi faucibus mi erat. Taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                         </div>
                           <hr class="card-hr">
                         <div class="button">
                           <div class="center" fit>LEARN MORE</div>
                           <paper-ripple fit></paper-ripple>
                         </div>
                         
                         <div class="button">
                           <div class="center" fit>SHARE</div>
                           <paper-ripple fit></paper-ripple>
                         </div>
                         
                         <div ng-controller="CollapseController">
        					<div type="button" class="post-info-button" ng-click="isCollapsed = !isCollapsed">
        					    <span class="fa fa-info"></span>
        					</div>
        					<div collapse="!isCollapsed">
                                <div class="post-info">
                                     <a ng-href="#">John Smith</a> at <em>09/03/2015 @ 1:20PM</em>
                                 </div>
        					</div>
        				 </div>
                       
                      </div>
                   </div>
                </div>
                
                
            </div><!-- end row -->
            
            <ol>
               <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
               <li>Aliquam tincidunt mauris eu risus.</li>
            </ol>
            
            <blockquote><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.</p></blockquote>
            
            
            <ul>
               <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
               <li>Aliquam tincidunt mauris eu risus.</li>
            </ul>
            
            <pre><code>
            #header h1 a { 
            	display: block; 
            	width: 300px; 
            	height: 80px; 
            }
            </code></pre>
            
            <table class="table table-hover">
            	<thead>
            		<tr>
            			<th>First Name</th>
            			<th>Last Name</th>
            			<th>Email</th>
            		</tr>
            	</thead>
            	<tbody>
            		<tr>
            			<td>John</td>
            			<td>Mary</td>
            			<td>Henry</td>
            		</tr>
            		<tr>
            			<td>Smith</td>
            			<td>Doe</td>
            			<td>Williams</td>
            		</tr>
            		<tr>
            			<td>jSmith@example.com</td>
            			<td>mDoe@example.com</td>
            			<td>hWilliams@example.com</td>
            		</tr>
            	</tbody>
            </table>
            
            <dl>
               <dt>Definition list</dt>
               <dd>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna 
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea 
            commodo consequat.</dd>
               <dt>Lorem ipsum dolor sit amet</dt>
               <dd>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna 
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea 
            commodo consequat.</dd>
            </dl>
            
            <ul>
               <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
               <li>Aliquam tincidunt mauris eu risus.</li>
               <li>Vestibulum auctor dapibus neque.</li>
            </ul>
            
            <ol>
               <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
               <li>Aliquam tincidunt mauris eu risus.</li>
               <li>Vestibulum auctor dapibus neque.</li>
            </ol>
            
            <h2>Styled Form</h2>
            <hr>
            

              <form>
                <div class="form-group">
                  <select id="select">
                    <option>Value 1</option>
                    <option>Value 2</option>
                  </select>
                  <label for="select">Selectbox</label><i class="bar"></i>
                </div>
                <div class="form-group">
                  <input id="input" type="text" required="required"/>
                  <label for="input">Textfield</label><i class="bar"></i>
                </div>
                <div class="form-group">
                  <textarea id="textarea" required="required"></textarea>
                  <label for="textarea">Textarea</label><i class="bar"></i>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked="checked"/><i class="helper"></i>I'm the label from a checkbox
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox"/><i class="helper"></i>I'm the label from a checkbox
                  </label>
                </div>
                <div class="form-radio">
                  <div class="radio">
                    <label>
                      <input type="radio" name="radio" checked="checked"/><i class="helper"></i>I'm the label from a radio button
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" name="radio"/><i class="helper"></i>I'm the label from a radio button
                    </label>
                  </div>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox"/><i class="helper"></i>I'm the label from a checkbox
                  </label>
                </div>
              </form>

                
            </div>
            
        </div>
    </div>
</div>