<div class="container-full-bg padded">
    <div class="container special">
      	<div class="jumbotron">
      	    <h1 ng-bind="title"></h1>    
      	</div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="page-header">
            <h1><span class="glyphicon glyphicon-map-marker"></span> Next Event</h1>
        </div>
        
      	<div ng-repeat="event in events | orderBy: '-date' | limitTo:1 " class="jumbotron inverted">
      	    <event-preview-lg event='event'></event-preview-lg>
      	</div>
        
        <div class="page-header">
            <h1><span class="glyphicon glyphicon-menu-hamburger"></span> Upcoming Events</h1>
        </div>
        
        <!--small event preview -->
        
    </div>
</div>