<div class="container-full-bg padded">
    <div class="container special">
      	<div class="jumbotron">
      	    <h1 ng-bind="title"></h1>    
      	</div>
    </div>
</div>

<div class="container">
    <ol class="breadcrumb">
		<li><a href="/">Home</a></li>
	  <li class="active">Events</a></li>
	</ol>
	
	<h1 class="accent">Next Event</h1><hr>
    <div class="row">
        <!-- large event preview -->
      	<div class="col-md-12" ng-repeat="event in events | orderBy: 'date' | limitTo:1 ">
      	    <event-preview-lg event='event'></event-preview-lg>
      	</div>
    </div>
    
    <h1 class="accent">Upcoming Events</h1><hr>
    <div class="row">
        <!--small event preview -->
        <div class="col-md-4" ng-repeat="event in events | orderBy: 'date' | limitTo:3 ">
            <event-preview-sm event='event'></event-preview-sm>
        </div>
    </div>
        
</div>