<div class="container padded">
    <div ng-hide="posts.length === 0 && events.length === 0">
        <h1>Recent News</h1><hr>
        <div class="row">
            <div ng-show="posts.length === 0"><p>No recent news to show!</p></div>
            <post-preview-lg class="col-md-12 fadeInUp" ng-show="posts.length === 1" post="posts[0]"></post-preview-lg>
            <div class="col-sm-12 col-lg-6 fadeInUp" ng-hide="posts.length === 1" ng-repeat="post in posts | orderBy: '-date' | limitTo: 2">
                <post-preview-md post='post'></post-preview-md>
            </div> <!--end column-->
        </div> <!--end row-->
        
        <div ng-show="events.length > 0" class="fadeInUp">
            <h1><a href="/events">Events</a></h1><hr>
            
            <div class="row">
                <div class="col-lg-4 fadeInUp" ng-repeat="event in events | orderBy: 'start.utc' | limitTo:3 ">
                    <event-preview-sm event='event' ng-show="events.length > 1"></event-preview-sm>
                </div> <!--end column-->
                <div>
                    <event-preview-lg ng-show="events.length = 1" class="col-lg-12 fadeInUp" event='events[0]'></event-preview-lg>
                </div>
            </div> <!--end row-->
        </div>
        
        <div ng-hide="posts.length <= 2">
            <h1> More News</h1><hr> 
        
            <div class="row">
                <div class="col-lg-3 fadeInUp" ng-repeat="post in posts | orderBy: '-date'" ng-if="$index>1">
                    <post-preview-sm post='post'></post-preview-sm>
                </div> <!--end column-->
            </div> <!--end row-->
        </div>
    </div>
    <div ng-show="posts.length === 0 && events.length === 0">
        <h1>Nothing to show!</h1>
        <p>There is no news today, and we're not sure if there ever was any.</p>
    </div>
</div> <!--end container -->