<div class="container-full-bg padded">
    <div class="container special">
      	<div class="jumbotron">
      	    <h1>Hartville.io</h1>
            <p>Information about the website.</p>
            <p><a class="btn btn-danger btn-lg" href="/#/about" role="button">Learn more</a></p>
      	</div>
    </div>
</div>

<div class="container padded">

    <div class="page-header">
        <h1><span class="glyphicon glyphicon-th-large"></span> Recent Blog Posts</h1>
    </div>

    <div class="row">
        <div class="col-sm-12 col-lg-6 most-recent-animation" ng-repeat="post in posts | orderBy: '-date' | limitTo:2 ">
            <post-preview-md post='post'></post-preview-md>
        </div> <!--end column-->
    </div> <!--end row-->
    
    <div class="inverted-bg">
        <div class="page-header">
            <h1><span class="glyphicon glyphicon-calendar"></span> <a href="/events">Events</a></h1>
        </div>
        
        <div class="col-md-6">
            
        </div>
        
    </div>

    <div class="page-header">
        <h1><span class="glyphicon glyphicon-th"></span> More News</h1>
    </div>
    <div class="row">
        <div class="col-lg-3 more-news-animation" ng-repeat="post in posts | orderBy: '-date' | limitTo:4 ">
            <post-preview-sm post='post'></post-preview-sm>
        </div> <!--end column-->
    </div> <!--end row-->
</div> <!--end container -->