<div class="container-full-bg padded">
    <div class="container special">
      	<div class="jumbotron">
      	    <h1>Hartville.io</h1>
            <p>Information about the website.</p>
            <p><a href="/about/"><div class="button raised large accent">
               <div class="center" fit>LEARN MORE</div>
               <paper-ripple fit></paper-ripple>
            </div></a></p>
      	</div>
    </div>
</div>

<div class="container padded">

    <h1>Recent News</h1><hr>
    <div class="row">
        <div class="col-sm-12 col-lg-6 fadeInUp" ng-repeat="post in mdPreview | orderBy: '-date' ">
            <post-preview-md post='post'></post-preview-md>
        </div> <!--end column-->
    </div> <!--end row-->
    
    <h1><a href="/events">Events</a></h1><hr>
    
    <div class="row">
        <div class="col-lg-4 fadeInUp" ng-repeat="event in events | orderBy: 'date' | limitTo:3 ">
            <event-preview-sm event='event'></event-preview-sm>
        </div> <!--end column-->
    </div> <!--end row-->
        
    <h1> More News</h1><hr> 

    <div class="row">
        <div class="col-lg-3 fadeInUp" ng-repeat="post in smPreview | orderBy: '-date'">
            <post-preview-sm post='post'></post-preview-sm>
        </div> <!--end column-->
    </div> <!--end row-->
</div> <!--end container -->