<!--<div ng-repeat="content in contentLength track by $index"><div ng-bind-html="trustHtml('test')"></div></div><input type="button" ng-click="moreContent('test')" value="Add another image" />-->
<div class="container container-form">
	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
			  <h1>New Post</h1>
			</div>
		</div>

        <form name="newPost" ng-submit="postData()" enctype="multipart/form-data"><!--action="/create" method="POST"-->
        	<div class="col-md-12">
				<div class="page-header">
				  <h3>Log in</h3>
				</div>
			</div>
        	<!--Username--><div class="col-md-6">
			  <div class="form-group">
				<div class="input-group">
				    <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
				    <input type="text" class="form-control" name="username" placeholder="Username" ng-model="formInfo.author">
				</div>
			  </div><!-- end form-group -->
		  </div><!-- end col -->
		  <!--Password--><div class="col-md-6">
			  	<div class="form-group">
					<div class="input-group">
					    <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
					    <input type="password" autocomplete="off" class="form-control" name="password" placeholder="Password">
					</div>
				</div><!-- end form-group -->
			</div>
			
			<div class="col-md-12">
				<div class="page-header">
				  <h3>Create Post</h3>
				</div>
			</div>
	    	<div class="col-md-12">
			  <!--Title--><div class="form-group">
			    <label>Title</label>
			    <input type="text" name="title" class="form-control" placeholder="The title for your post" ng-model="formInfo.title">
			  </div>
			</div>
			
			<!--<div class="col-md-12">
			  <!--Author<div class="form-group">
			    <label>Author</label>
			    <input type="text" name="author" class="form-control" placeholder="John Smith">
			  </div>
			</div>-->
			<div class="col-md-12">
			  <!--Content--><div class="form-group">
			    <label>Header Image</label>
			    <input type="file" name="headImage" class="form-control" accept="image/*" ng-model="formInfo.headImage">
			  </div>
			</div>
			<div class="col-md-12">
			  <!--Content--><div class="form-group">
			    <label>Content</label>
			    <text-angular ng-model="formInfo.content" name="content"></text-angular>
			  </div>
			</div>
			
			  <div class="form-group">
			  	<label class="col-md-12">Add Images to Body</label>
			  <div class="col-md-9">
				   <div class="add-image-animation"ng-repeat="image in imageCount track by $index">
				    	<input type="file" name="bodyImage" class="form-control" accept="image/*" />
				   </div>
			  </div>
			    <div class="col-md-3">
			    	<input class="btn btn-primary" type="button" ng-click="addImage()" value="Add another image" />
			    </div>
			  </div>
			  <br>
			
		 	<div class="col-md-12">
			  <!--Category--><div class="form-group">
			    <label>Category</label>
			    <div ng-controller="CollapseController">
					<button type="button" class="btn btn-primary" ng-click="isCollapsed = !isCollapsed">Choose Categories</button>
					<hr>
					<div collapse="!isCollapsed">
						<div class="well well-md">
							
							<div class="checkbox">
							  <label>
							    <input type="checkbox" name="categories" value="technology">
							    Technology
							  </label>
							</div>
							<div class="checkbox">
							  <label>
							    <input type="checkbox" name="categories" value="community">
							    Community
							  </label>
							</div>
							<div class="checkbox">
							  <label>
							    <input type="checkbox" name="categories" value="science">
							    Science
							  </label>
							</div>
							<div class="checkbox">
							  <label>
							    <input type="checkbox" name="categories" value="news">
							    News
							  </label>
							</div>
							
						</div> 
					</div>
				</div>
			  </div>
		  	</div>
		  	
		  	
		  	<div class="col-md-12">
				<div class="page-header">
				  <h3>Post Preview</h3>
				</div>
			</div>
			<div class="well">
				<post-preview-new post=newPost class=col-md-9></post-preview-new>
				<div class="col-md-3">
					<div class="panel panel-primary">
					  <div class="panel-heading">
					    <h3 class="panel-title">Preview information</h3>
					  </div>
					  <div class="panel-body">
					    Date is displayed after post creation.
					  </div>
					</div>
				</div>
			</div>
		  	<!--Buttons--><div class="row">
		  		<div class="col-md-12 form-buttons">
				  <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> Submit</button>
				  <button type="reset" class="btn btn-danger"><span class="glyphicon glyphicon glyphicon-remove"></span> Reset</button>
			    </div>
			</div>
		</form>
	</div><!-- end row wrapper -->
</div>