<div class="container padded" ng-hide="error">
	<ol class="breadcrumb">
		<li><a href="/">Home</a></li>
	  <li><a href="/blog/">Blog</a></li>
	  <li class="active">{{post.title}}</li>
	</ol>
	<div class="row">
		<div class="col-md-9">

			<div class="dialog brand">

				<div class="title">{{post.title}}</div>
				<div class="image crop-height">
					 <img ng-src="{{post.imageHead}}" class="img-responsive" />
				</div>
				<div class="centered">by <a ng-href="/blog/author/{{post.authorId}}">{{author.displayName}} <img class="avatar-circle" ng-src="{{author.avatar}}" style="margin:0"/></a></div>
				<div class="content">
					<div>
						<p ng-bind-html="post.content" prism-color></p>
					</div>
				</div>
				<hr class="card-hr">
				<div class="button">
					<div class="center" fit>SHARE</div>
					<paper-ripple fit></paper-ripple>
				</div>
				
				<div>
					<div type="button" class="post-info-button" ng-click="isCollapsed = !isCollapsed">
						<span class="fa fa-info"></span>
					</div>
					<div collapse="isCollapsed">
						<div class="post-info">
							Posted at <em>{{post.date | date:'MM/dd/yyyy @ h:mma'}}</em>
						</div>
					</div>
				</div>
				
			</div>
		
		</div> <!--end column-->
		<div class="col-md-3">
			<website-sidebar author-id="post.authorId" posts="posts"></website-sidebar>
		</div>
	</div> <!--end row-->
</div> <!--end container -->
<error ng-show="error"></error>