<div class="container padded" ng-hide="error">
	<ol class="breadcrumb">
		<li><a href="/">Home</a></li>
	  <li><a href="/blog/">Blog</a></li>
	  <li class="active">{{post.title}}</li>
	</ol>
	<div class="row">
		<div class="col-md-9">
		
			<ul class="list-group post-animation">
				<li class="list-group">
				    <img ng-src="{{post.imageHead}}" class="img-responsive" />
					<h1>{{post.title}}</h1>
					<li class="list-group"><span class="glyphicon glyphicon-pencil"></span> By {{post.author}} | 
				<span class="glyphicon glyphicon-time"></span> {{post.date | date:'MM/dd/yyyy @ h:mma'}} </li>
					<hr>
					<p ng-bind-html="post.content | markdown"></p>
				</li>
			</ul>
			
		
		</div> <!--end column-->
		<div class="col-md-3">
			<website-sidebar author="author" posts="posts"></website-sidebar>
		</div>
	</div> <!--end row-->
</div> <!--end container -->
<error ng-show="error"></error>