<div class="container padded">
	<ol class="breadcrumb">
		<li><a href="/">Home</a></li>
	  <li><a href="/blog/">Blog</a></li>
	  <li class="active">{{post.title}}</li>
	</ol>
	<div class="row">
		<div class="col-md-9">

			<article class="dialog brand" itemscope itemtype="http://schema.org/Article" ng-hide="error">

				<div class="title" itemprop="name"><p>{{post.title}}</p></div>
				<div class="image crop-height">
					 <img ng-src="{{post.imageHead}}" class="img-responsive" itemprop="image"/>
				</div>
				<div class="centered">by <span itemprop="author"><user-name user-id="post.authorId"></user-name></span></div>
				<div class="content" itemprop="articleBody" ng-bind-html="post.content" prism-color>
				</div>
				<hr class="card-hr">
				<post-footer post="post"></post-footer>
				<span style="display:none !important" itemprop="url">/blog/post/{{post.id}}</span>
			</article>
			
			<div class="dialog warning" ng-show="error">
	            <div class="title">Error 404</div>
	            
	            <div class="content text-center">
	                <div><span class="fa fa-exclamation-triangle fa-5x"></span></div>
	                <br>
	                <p>Sorry, we couldn't find the page you're looking for.</p>
	                <hr>
	                <a href="/"><div class="button raised warning">
	                    <div class="center" fit>HOME</div>
	                    <paper-ripple fit></paper-ripple>
	                </div></a>
	                <a href="/blog"><div class="button raised warning">
	                    <div class="center" fit>BLOG</div>
	                    <paper-ripple fit></paper-ripple>
	                </div></a>
	                
	            </div>
	    	</div>
		
		</div> <!--end column-->
		<div class="col-md-3">
			<website-sidebar author-id="post.authorId" posts="posts"></website-sidebar>
		</div>
	</div> <!--end row-->
</div> <!--end container -->