<div class="container container-form">
    <form name="profileEdit">
			
		<div class="col-md-12">
			<div class="page-header">
				<h3>{{user.displayName}}</h3>
			</div>
		</div>
			
			<!--Avatar-->
			<div class="col-md-12">
				<div class="col-md-1" style="margin:5px">
				    <h4>Avatar</h4>
					<img ng-src="{{user.avatar}}" style="padding:0;max-width:100px"/>
				</div>
				<div class="col-md-1" style="margin:5px" ng-show="!!user.newAvatar">
				    <h4>New Avatar</h4>
					<img ng-src="{{user.newAvatar}}" style="padding:0;max-width:100px"/>
				</div>
			</div>
			
			<div class="col-md-12">
				<div class="form-group">
					<input type="file" name="imageHead" class="form-control" accept="image/*" id="imageHead" ng-disabled="formDisabled" onchange="angular.element(this).scope().bindImage(this.files[0])">
				</div>
			</div>
			
			<!--Bio-->
			<div class="col-md-12">
				<h4>Bio</h4>
				<div class="form-group">
					<text-angular ng-model="user.bio" required name="bio" ta-disabled="formDisabled"></text-angular>
				</div>
			</div>
			
			<!--Account Binding-->
			<div class="col-md-12">
				<h4>Bind Accounts</h4>
				<p>Binding your other accounts will allow you to login to here through those accounts.</p>
				<div class="form-group">
					<button type="submit" class="button brand accent" ng-click="authenticate('googlebinder')" ng-disabled="(user.googleBound)" ng-class="{disabled: user.googleBound==true}">
                        <div class="center">Bind Google</div>
                        <paper-ripple fit></paper-ripple>
                    </button>
                    <div ng-show="user.googleBound" >
                    	You have already bound this account to google your Google account.
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="button brand" ng-click="authenticate('facebookbinder')" ng-disabled="(user.facebookBound)" ng-class="{disabled: user.facebookBound==true}">
                        <div class="center">Bind Facebook</div>
                        <paper-ripple fit></paper-ripple>
                    </button>
                    <div ng-show="user.facebookBound" >
                    	You have already bound this account to your Facebook account.
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="button brand" style="background-color:#000000" ng-click="authenticate('githubbinder')" ng-disabled="(user.githubBound)" ng-class="{disabled: user.githubBound==true}">
                        <div class="center">Bind Github</div>
                        <paper-ripple fit></paper-ripple>
                    </button>
                    
                    <div ng-show="user.githubBound" >
                    	You have already bound this account to your GitHub account.
                    </div>
                </div>
			</div>
			
			<!--Submit/Reset-->
			<div class="row">
				<div class="col-md-12">
					
					<!--Submit-->
					<button type="submit" ng-click="submit()" class="button raised brand" ng-disabled="formDisabled" ng-class="{disabled: formDisabled==true}">
						<div class="center" fit>SUBMIT</div>
						<paper-ripple fit></paper-ripple>
					</button>
					
					<!--Cancel-->
					<button ng-click="cancel()" class="button raised accent" ng-disabled="formDisabled" ng-class="{disabled: formDisabled==true}">
						<div class="center" fit>CANCEL</div>
						<paper-ripple fit></paper-ripple>
					</button>
					
				</div>
			</div>
			
	</form>
</div>