<div class="container container-top20">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="dialog brand">
                <div class="title">Hartville.io</div>
                
                <div class="content">
                    <h3>Sign Up</h3>
                    <hr>
                    
                    <form name="signUp" class="form-signin" novalidate>
                        
                        <div class="form-group">
                            <input class="input" id="name" name="name" ng-model="name" type="text" class="form-control" required>
                            <label for="name">Username</label><i class="bar"></i>
                        </div>
                        
                        <!--Email-->
                        <div class="form-group">
                            <input class="input" id="email" name="email" ng-model="email" type="email" class="form-control" ng-class="{'has-value': signUp.email.$viewValue}" required>
                            <label for="email">Email Address</label><i class="bar"></i>
                        </div>
                        
                        <!--Passowrd-->
                        <div class="form-group">
                            <input class='input' id="password" name="password" ng-model="password" type="password" class="form-control" ng-class="{'has-value': signUp.password.$viewValue}" required>
                            <label for="password">Password</label><i class="bar"></i>
                        </div>
                        
                        <!--Passowrd Confirm-->
                        <div class="form-group">
                            <input class="input" id="password_confirm" name="password_confirm" ng-model="password_confirm" type="password" class="form-control" ng-class="{'has-value': signUp.password_confirm.$viewValue}" required password-validate="password">
                            <label for="password_confirm">Password Confirm</label><i class="bar"></i>
                        </div>
                        
                        <p class="help-block" ng-show="(signUp.email.$viewValue.length > 0 && signUp.email.$invalid)">Please enter a proper email.</p>
                        <p class="help-block" ng-show="signUp.password.$viewValue != signUp.password_confirm.$viewValue">Please match the passwords.</p>
                        
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" ng-model='remember' /><i class="helper"></i>Remember me</input>
                          </label>
                        </div>
                        
                        <button type="submit" class="button brand" ng-click="submit()" ng-disabled="signUp.$invalid" ng-class="{disabled: signUp.$invalid==true}">
                            <div class="center">Sign Up</div>
                            <paper-ripple fit></paper-ripple>
                        </button>
                        
                    </form>
                </div>
        </div>
    </div>
</div>