<div class="container padded" ng-hide="error">
	<ol class="breadcrumb">
		<li><a href="/">Home</a></li>
		<li class="active">Spotlight</a></li>
	</ol>
	<div class="row">
	    <div class="col-md-12">
            <pagination class="centered" total-items="postCount" rotate="true" max-size="maxSize" ng-model="currentPage" boundary-links="true" direction-links="false" items-per-page="pageSize" ></pagination>
        </div>
	</div>
    <div class="row">
        <div class="col-md-12">
            <post-preview-lg ng-repeat="post in posts" post="post"></post-preview-lg>
        </div> <!--end row-->
    </div> <!--end container -->
</div>
<!--<error ng-show="error"></error>-->