//Brand Colors
$colorBrand: #d9534f;
$colorBrandDark: darken( $colorBrand, 10 );
$colorBrandLight: lighten( $colorBrand, 10 );

//Text Colors
$colorText: #4d4d57;
$colorTextDark: darken( $colorText, 10 );
$colorTextLight: lighten( $colorText, 10 );

//Background Colors
$colorBGDark: #282828;
$colorBGLight: #e7e7e7;

//Button Colors
$colorSuccess: #5cb85c;
$colorPrimary: #337ab7;