@import 'partials/_mixin';
@import 'partials/_color';
@import 'partials/_typography';
@import 'partials/_button';
@import 'partials/_card';
@import 'partials/_container';
@import 'partials/_form';
@import 'partials/_navigation';
@import 'partials/_table';
@import 'partials/_animation';
@import 'partials/_animate';

/* Display-Table Solution */

html,
body { height: 100%; }

body {
  display: table;
  width: 100%;
  background-color: $colorBackground;
}

.page-row {
  display: table-row;
  height: 1px;
}

.page-row-expanded { height: 100%; }

.nav, .pagination, .carousel, .panel-title a, .button, .post-info-button { cursor: pointer; }

//Fix for bulleted items
nav li, .list-group{
  list-style: none;
}

//Firefox / IE img-responsive fix
.img-responsive { width:100%; }
