<div class="post" ng-repeat="post in posts | orderBy : '-date' | filter : filter ">
    <a ng-href="#/blog/{{ posts.indexOf(post) }}">
        <div class="title">
            {{ post.title }}
        </div>
    </a>
    <div class="author">
        {{ post.author }}
    </div>
    <div class="date">
        {{ post.date | date : 'EEE, MMM dd, y' }}
    </div>
    <div class="preview">
        {{ post.body[0] | limitTo:200 }}...
    </div>
    <span class="tags" ng-repeat="tag in post.tags">
        <a ng-href="#/blog/filter/{{ tag }}">#{{ tag }}</a>
    </span>
</div>


		