<hr>
<div class="container">
	<div class="row">
		<div class="col-md-12 small">
			<div class="col-md-4">
				<ul>
					<a href="/#/"><li>Home</li></a>
					<a href="/#/blog"><li>Blog</li></a>
					<a href="/#/spotlight"><li>Spotlight</li></a>
					<a href="/#/community"><li>Community</li></a>
					<a href="/#/about"><li>About</li></a>
				</ul>
			</div>
			<div class="col-md-4">
				
			</div>
			<div class="col-md-4">
				<p class="muted pull-right">© 2015 Hartville.io. All rights reserved</p>
			</div>
		</div>
	</div>
</div>