/* Animations */
.post-list-animation.ng-enter {
    animation: bounceInLeft 1s;
}

.post-list-animation.ng-leave {
    animation: bounceOutLeft 1s;
}

.most-recent-animation.ng-enter {
    animation: fadeInUp 1s;
}
.more-news-animation.ng-enter {
    animation: fadeInUp 1s;
}
.post-animation.ng-enter {
    animation: fadeIn 750ms;
}