/* Animations */
.post-list-animation.ng-enter {
    animation: fadeIn 250ms;
}
.post-list-animation.ng-leave {
    animation: fadeOut 250ms;
}
.most-recent-animation.ng-enter {
    animation: fadeInUp 1s;
}
.more-news-animation.ng-enter {
    animation: fadeInUp 1s;
}
.post-animation.ng-enter {
    animation: fadeIn 750ms;
}