h1.brand, h2.brand, h3.brand, h4.brand, h5.brand, h6.brand, p.brand {
  color: #0091EA;
}

h1.accent, h2.accent, h3.accent, h4.accent, h5.accent, h6.accent, p.accent {
  color: #FF3D00;
}

h1.info, h2.info, h3.info, h4.info, h5.info, h6.info, p.info {
  color: #6200EA;
}

body {
  font-size: 1.5em;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  word-wrap: break-word;
}

h1 {
  font-weight: 300;
  color: #0091EA;
}

h2, h3, h4, h6 {
  font-weight: 400;
}

h5 {
  font-weight: 500;
}

blockquote {
  border-left: 5px solid #0091EA;
  font-size: 1.2em;
}

a {
  color: #FF3D00;
}

a:hover {
  color: #FF5722;
  text-decoration: none;
  -moz-transition-property: 500ms;
  -o-transition-property: 500ms;
  -webkit-transition-property: 500ms;
  transition-property: 500ms;
}

code {
  color: #6200EA;
  background-color: #F5F5F5;
}

.button {
  display: inline-block;
  position: relative;
  width: 120px;
  height: 32px;
  line-height: 32px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  font-size: 0.9em;
  background-color: none;
  color: #777777;
  text-align: center;
}

.button.brand {
  background-color: #0091EA;
  color: #FFFFFF;
}

.button.brand:hover {
  background-color: #00B0FF;
}

.button.accent {
  background-color: #FF3D00;
  color: #FFFFFF;
}

.button.accent:hover {
  background-color: #FF5722;
}

.button.info {
  background-color: #6200EA;
  color: #FFFFFF;
}

.button.info:hover {
  background-color: #651FFF;
}

.button.disabled {
  background-color: #E0E0E0;
  color: lighten #000000, 63%;
}

.button:hover {
  -moz-transition: background-color 0.25s 0s;
  -o-transition: background-color 0.25s 0s;
  -webkit-transition: background-color 0.25s 0s;
  transition: background-color 0.25s 0s;
}

button {
  border: none;
}

button:focus {
  outline: 0;
}

.label-brand {
  color: #0091EA;
}

.label-brand:hover {
  color: #00B0FF;
}

.label-accent {
  color: #FF3D00;
}

.label-accent:hover {
  color: #FF5722;
}

.label-info {
  color: #6200EA;
}

.label-info:hover {
  color: #651FFF;
}

.label-disabled {
  color: lighten #000000, 63%;
}

.large {
  width: 150px;
  height: 42px;
  line-height: 42px;
}

.large a {
  color: #FFFFFF;
}

.small {
  width: 100px;
  height: 22px;
  line-height: 22px;
}

.raised {
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.raised:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  transition-delay: .0s;
  -moz-transition: box-shadow 0.5s 0s;
  -o-transition: box-shadow 0.5s 0s;
  -webkit-transition: box-shadow 0.5s 0s;
  transition: box-shadow 0.5s 0s;
}

/* Icon Button */
.icon-button {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 56px;
}

.icon-button > .core-icon {
  position: relative;
  top: 5px;
  left: 6px;
  margin: 16px;
  transition: -webkit-transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-button:hover > .core-icon {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.icon-button > paper-ripple {
  overflow: hidden;
  color: #646464;
}

/* Floating Action Button */
.fab {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 56px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  color: #fff;
  overflow: hidden;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.fabspan {
  position: relative;
  top: 15;
}

.fab > .core-icon {
  position: relative;
  top: 5px;
  left: 6px;
  margin: 16px;
  transition: -webkit-transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.fab.brand {
  background-color: #0091EA;
  color: #FFFFFF;
}

.fab.accent {
  background-color: #FF3D00;
  color: #FFFFFF;
}

.fab.info {
  background-color: #6200EA;
  color: #FFFFFF;
}

.fab.disabled {
  background-color: #E0E0E0;
  color: lighten #000000, 63%;
}

.fab:hover {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  transition-delay: 0s;
}

.fab:hover > .core-icon {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.toastr-buttons .col-xs-6 {
  padding: 0px;
}

.toastr-buttons .col-xs-6 .button {
  background-color: none;
}

.card, .dialog {
  position: relative;
  border-radius: 3px;
  vertical-align: top;
  background-color: #FFFFFF;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.05);
  margin: 10px 10px 25px 10px;
}

.card > .image, .dialog > .image {
  color: #FFFFFF;
  border-radius: 3px;
}

.card > .image > img, .dialog > .image > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.dialog {
  box-sizing: border-box;
  margin: 0px 0px 20px 0px;
}

.dialog > .content {
  font-size: 0.9em;
  padding: 15px;
  color: #777777;
}

.dialog > .content blockquote {
  border-left: 5px solid #F5F5F5;
}

.dialog .title {
  text-align: center;
  font-size: 1.3em;
  font-weight: 300;
  padding: 15px;
  color: #000000;
  background-color: #F5F5F5;
  margin: 0px;
  border-radius: 3px 3px 0px 0px;
}

.dialog .title > a {
  color: #FFFFFF;
}

.dialog .title > a:hover {
  color: #00B0FF;
}

.dialog .button {
  width: 90px;
  margin-left: 10px;
}

.dialog:hover {
  box-shadow: 0 10px 17px 0 rgba(0, 0, 0, 0.2);
  transition-delay: .0s;
  -moz-transition: box-shadow 0.5s 0s;
  -o-transition: box-shadow 0.5s 0s;
  -webkit-transition: box-shadow 0.5s 0s;
  transition: box-shadow 0.5s 0s;
}

.brand > .title {
  background-color: #0091EA;
  color: #FFFFFF;
}

.brand > .content blockquote {
  border-left: 5px solid #0091EA;
}

.brand > .post-info > a {
  color: #0091EA;
}

.brand .post-info-button {
  color: #0091EA;
}

.brand > .button {
  color: #0091EA;
}

.accent > .title {
  background-color: #FF3D00;
  color: #FFFFFF;
}

.accent > .title > a:hover {
  color: #FF5722;
}

.accent > .content blockquote {
  border-left: 5px solid #FF3D00;
}

.accent .post-info-button {
  color: #FF3D00;
}

.accent > .button {
  color: #FF3D00;
}

.info > .title {
  background-color: #6200EA;
  color: #FFFFFF;
}

.info > .content blockquote {
  border-left: 5px solid #6200EA;
}

.info .post-info-button {
  color: #6200EA;
}

.info > .button {
  color: #6200EA;
}

.post-card {
  padding: 20px;
  background-color: #FFFFFF;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.05);
}

.post-card:hover {
  box-shadow: 0 10px 17px 0 rgba(0, 0, 0, 0.2);
  transition-delay: .0s;
  -moz-transition: box-shadow 0.5s 0s;
  -o-transition: box-shadow 0.5s 0s;
  -webkit-transition: box-shadow 0.5s 0s;
  transition: box-shadow 0.5s 0s;
}

.post-info {
  background-color: #F5F5F5;
  padding: 15px;
  text-align: center;
}

.post-info-button {
  font-size: 1.2em;
  color: #212121;
  float: right;
  position: relative;
  right: 15px;
  bottom: 33px;
}

.card-hr {
  margin-bottom: 6px;
}

.jumbotron {
  background-color: transparent !important;
  text-align: center;
  color: #FFFFFF;
}

.container-full-bg {
  width: 100%;
  background-color: #000;
  background-position: center;
  background-size: cover;
  background-image: url("../images/header-02.png");
}

.container-full-bg .container, .container-full-bg .container .jumbotron {
  height: 100%;
  width: 100%;
}

.navbar {
  border-radius: 0px;
  margin-bottom: 0px;
}

.navbar-default .navbar-nav > .active a {
  background-color: #0091EA;
  color: #fff;
}

.navbar-default .navbar-nav > .active a:focus {
  background-color: #0091EA;
  color: #fff;
}

.navbar-default .navbar-nav > .active a:hover {
  background-color: #00B0FF;
  color: #fff;
  -moz-transition: background-color 0.25s 0s;
  -o-transition: background-color 0.25s 0s;
  -webkit-transition: background-color 0.25s 0s;
  transition: background-color 0.25s 0s;
}

.panel {
  background-color: #FFFFFF;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.05);
  border-radius: 3px;
}

.panel:hover {
  box-shadow: 0 10px 17px 0 rgba(0, 0, 0, 0.2);
  transition-delay: .0s;
  -moz-transition: box-shadow 0.5s 0s;
  -o-transition: box-shadow 0.5s 0s;
  -webkit-transition: box-shadow 0.5s 0s;
  transition: box-shadow 0.5s 0s;
}

.panel.brand {
  background-color: #0091EA;
  color: #FFFFFF;
}

.panel.brand hr {
  border: 1px solid #00B0FF;
}

.panel.accent {
  background-color: #FF3D00;
  color: #FFFFFF;
}

.panel.accent hr {
  border: 1px solid #FF5722;
}

.panel.info {
  background-color: #6200EA;
  color: #FFFFFF;
}

.panel.info hr {
  border: 1px solid #651FFF;
}

.panel .button {
  color: #fff;
  background-color: none;
  margin-left: 5px;
}

.panel-title {
  font-size: 1.2em;
  margin: 10px 0px 0px 0px;
}

.panel-body {
  margin: 0px;
  padding: 0px 15px 15px 15px;
}

footer {
  margin-top: 20px;
  padding: 15px 0px;
  background-color: #212121;
  color: #FFFFFF;
}

footer li {
  list-style: none;
}

footer li > a {
  color: #0091EA;
}

footer li > a:hover {
  color: #00B0FF;
}

footer .footer-links {
  padding: 0px;
}

.form-radio, .form-group {
  position: relative;
  margin-top: 40px;
  margin-bottom: 40px;
}

.form-help {
  margin-top: 2px;
  margin-left: 2px;
  color: #b3b3b3;
  font-size: 14px;
}

.checkbox .form-help, .form-radio .form-help {
  padding-top: 4px;
  padding-left: 25px;
}

.form-group select {
  width: 100%;
  font-size: 18px;
  height: 29px;
  padding: 2px 2px 1px;
  font-size: 18px;
  background: none;
  border: none;
  line-height: 29px;
}

.form-group select ~ .bar {
  border-bottom: 1px solid #999;
}

.form-group select ~ .bar:after, .form-group select ~ .bar:before {
  bottom: -1px;
}

.form-group select ~ label {
  font-size: 14px;
  color: gray;
  top: -20px;
}

.form-group select:focus {
  outline: none;
}

.form-group select:focus ~ .bar:before, .form-group select:focus ~ .bar:after {
  width: 50%;
}

.form-group label {
  position: relative;
  top: 0;
  pointer-events: none;
  padding-left: 2px;
  z-index: 1;
  color: #b3b3b3;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  transition: all 0.2s ease;
}

.form-group .bar {
  position: relative;
  display: block;
  margin-right: -4px;
}

.form-group .bar:before, .form-group .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 0;
  position: absolute;
  background: #0091EA;
  transition: all 0.2s ease;
  z-index: 2;
}

.form-group .bar:before {
  left: 50%;
}

.form-group .bar:after {
  right: 50%;
}

.form-group input, .form-group textarea {
  display: block;
  background: none;
  padding: 2px 2px 1px;
  font-size: 18px;
  border-width: 0 0 1px;
  line-height: 29px;
  border-color: #999;
  width: 100%;
}

.form-group input:focus, .form-group textarea:focus {
  outline: none;
}

.form-group input:focus ~ label, .form-group input:valid ~ label, .form-group input.hasValue ~ label, .form-group textarea:focus ~ label, .form-group textarea:valid ~ label, .form-group textarea.hasValue ~ label {
  font-size: 14px;
  color: gray;
  top: -20px;
}

.form-group input:focus ~ label, .form-group textarea:focus ~ label {
  color: #0091EA;
}

.form-group input:focus ~ .bar:before, .form-group input:focus ~ .bar:after, .form-group textarea:focus ~ .bar:before, .form-group textarea:focus ~ .bar:after {
  width: 50%;
}

.checkbox, .radio {
  margin-top: 20px;
  margin-bottom: 20px;
}

.checkbox label, .radio label {
  position: relative;
  cursor: pointer;
  padding-left: 25px;
}

.checkbox .helper, .radio .helper {
  display: block;
  position: absolute;
  z-index: 1;
  height: 18px;
  width: 18px;
  border: 1px solid #999;
  top: 2px;
  left: 0;
  transition: all 0.2s ease;
}

.checkbox .helper:before, .radio .helper:before {
  content: '';
  position: absolute;
  transform: translate(-50%, -50%);
  height: 12px;
  width: 12px;
  top: 50%;
  left: 50%;
  background: transparent;
  transition: all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.checkbox input, .radio input {
  opacity: 0;
  position: absolute;
}

.checkbox input:checked ~ .helper, .checkbox input.checked ~ .helper, .radio input:checked ~ .helper, .radio input.checked ~ .helper {
  border-color: gray;
}

.checkbox input:checked ~ .helper:before, .checkbox input.checked ~ .helper:before, .radio input:checked ~ .helper:before, .radio input.checked ~ .helper:before {
  background: #0091EA;
}

.radio .helper, .radio .helper:before {
  border-radius: 16px;
}

.radio + .radio, .checkbox + .checkbox {
  margin-top: -10px;
}

.form-group.has-error label,
.has-error .form-help {
  color: #6200EA !important;
}

.has-error .bar:before, .has-error .bar:after {
  background: #6200EA;
  width: 50%;
}

.has-error.checkbox .helper, .has-error .radio .helper {
  border-color: #6200EA;
}

/*pagination*/
.pagination {
  margin: 10px 0px 0px 0px;
  padding: 0px;
}

.pagination > li > a, .pagination > li > span, .pagination > li > a:hover, .pagination > li > span:hover {
  color: #0091EA;
}

.pagination > li:last-child > a, .pagination > li:first-child > a {
  border-radius: 3px;
}

.pagination > li:last-child > span, .pagination > li:first-child > span {
  border-radius: 0px;
}

.pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span:focus, .pagination > .active > span:hover {
  background-color: #0091EA;
  border-color: #0091EA;
}

table thead {
  color: #8A8A8A;
  font-size: 1em;
}

table thead > tr > th {
  font-weight: 400;
}

table tbody > tr {
  padding: 50px;
}

table tbody > tr > td {
  font-size: 1.1em;
}

/* Display-Table Solution */
html,
body {
  height: 100%;
}

body {
  display: table;
  width: 100%;
  background-color: #FAFAFA;
}

.page-row {
  display: table-row;
  height: 1px;
}

.page-row-expanded {
  height: 100%;
}

.nav, .pagination, .carousel, .panel-title a, .button, .post-info-button {
  cursor: pointer;
}

nav li, .list-group {
  list-style: none;
}

.img-responsive {
  width: 100%;
}
