<div class="col-md-4 col-centered" ng-controller='LoginController'>
        <div class="dialog brand">
            <div class="title">
                {{app_name}}
            </div>
            
            <div class="content">
                <h3>Log In</h3>
                <hr>
                <form name="logIn" class="form-signin" novalidate>
                    
                    <!--Email-->
                    <div class="form-group">
                        <input class="input" id="email" name="email" ng-model="email" type="email" class="form-control" ng-class="{'has-value': logIn.email.$viewValue}" required>
                        <label for="email">Email Address</label><i class="bar"></i>
                    </div>
                    
                    <!--Passowrd-->
                    <div class="form-group">
                        <input class='input' id="password" name="password" ng-model="password" type="password" class="form-control" ng-class="{'has-value': logIn.password.$viewValue}" required>
                        <label for="password">Password</label><i class="bar"></i>
                    </div>
                    
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" ng-model="remember" /><i class="helper"></i>Remember me</input>
                      </label>
                    </div>
                    
                    <p class="help-block" ng-show="(logIn.email.$viewValue.length > 0 && logIn.email.$invalid)">Please enter a proper email.</p>
                    
                    <button type="submit" class="button brand" ng-click="submit()" ng-disabled="logIn.$invalid" ng-class="{disabled: logIn.$invalid==true}">
                        <div class="center">Log In</div>
                        <paper-ripple fit></paper-ripple>
                    </button>
                    
                    <button type="submit" class="button brand accent" ng-click="authenticate('google')">
                        <div class="center">Google</div>
                        <paper-ripple fit></paper-ripple>
                    </button>
                    
                    <button type="submit" class="button brand" ng-click="authenticate('facebook')">
                        <div class="center">Facebook</div>
                        <paper-ripple fit></paper-ripple>
                    </button>
                    
                    <button type="submit" class="button brand" style="background-color:#000000" ng-click="authenticate('github')">
                        <div class="center">Github</div>
                        <paper-ripple fit></paper-ripple>
                    </button>
                    
                </form>
            </div>
    </div>
</div>
