<div class="dialog accent">

    <div class="title">{{event.name.text}}</div>
    <div class="image">
        <img ng-src="" class="img-responsive" />
    </div>
    <div class="content">
            <div class="row">
                <div class="col-md-8">
                    <h2>Event Details</h2><hr>
                    <p ng-bind-html="event.description.html"></p>
                </div>
                <div class="col-md-4">
                    <blockquote>
                        <div ng-show="event.venue.address">
                            <h4>Address:</h4>
                            <h5>{{event.venue.name}}</h5>
                            <h5>{{event.venue.address.address_1}}</h5>
                            <h5 ng-show="event.venue.address.address_2">{{event.venue.address.address_2}}</h5>
                            <h5>{{event.venue.address.city}}, {{event.venue.address.region}} {{event.venue.address.postal_code}}</h5>
                            <hr>
                        </div>
                        <h4>Time:</h4>
                        <h5 ng-show="(event.start.getDay() === event.end.getDay())">{{event.start | date:'MMMM dd, yyyy @ h:mm a'}} - {{event.end | date:'h:mm a'}}</h5>
                        <h5 ng-show="(event.start.getDay() !== event.end.getDay())">{{event.start | date:'MMMM dd @ h:mm a'}} - {{event.end | date:'MMMM dd @ h:mm a'}}</h5>
                    </blockquote>
                </div>
            </div>
    </div>
    <hr class="card-hr">
    
    <a ng-href="{{event.url}}" target="_blank"><div class="button brand accent">
        <div class="center" fit>REGISTER</div>
        <paper-ripple fit></paper-ripple>
    </div></a>
    
    <div>
        <div type="button" class="post-info-button" ng-click="isCollapsed = !isCollapsed">
            <span class="fa fa-info"></span>
        </div>
        <div collapse="!isCollapsed">
            <div class="post-info">
                <p style="margin:0">Event Created: {{event.created | date:'MM/dd/yyyy @ hh:mm'}}</p>
                
                <p style="margin:0" ng-if="(event.created === event.changed)">Event Last Modified: {{event.changed | date:'MM/dd/yyyy @ hh:mm'}} </p>
            </div>
        </div>
    </div>
    <script>Prism.highlightAll(true);console.log('hightlighted')</script>
</div>
