<div class="jumbotron inverted" ng-controller="BlogController">
  <div class="row">
    <div class="col-sm-6">
        <h1><a ng-href="/events/event/{{ event.id }}">{{event.title}}</a></h1>
        <h4>{{event.date | date:'MM/dd/yyyy'}}</h4>
        <hr>
        <address>
            <h5>{{event.address.street}}</h5>
          <h5>{{event.address.city}}, {{event.address.state}} {{event.address.zip}}</h5>
        </address>
    </div>
    <div class="col-sm-6 event-push">
        <blockquote>{{event.content}}</blockquote>
    </div>
  </div>
  
  <div class="row">
    <a ng-href="#"><button class="btn btn-danger btn-inverted">More Information</button></a>
    <a ng-href="#"><button class="btn btn-danger">Register</button></a>
  </div>
</div>