<div class="dialog accent">

    <div class="title"><a ng-href="/events/event/{{ event.id }}">{{event.title}}</a></div>
    <div class="image">
        <img ng-src="" class="img-responsive" />
    </div>
    <div class="content">
        <div>
           <p>{{event.content | htmlToPlainText | words: 25}}</p>
        </div>
    </div>
    <hr class="card-hr">
    
    <div class="button">
        <div class="center" fit>SHARE</div>
        <paper-ripple fit></paper-ripple>
    </div>
    
    <div ng-controller="CollapseController">
        <div type="button" class="post-info-button" ng-click="isCollapsed = !isCollapsed">
            <span class="fa fa-info"></span>
        </div>
        <div collapse="!isCollapsed">
            <div class="post-info">
                Event Date: {{event.date | date:'MM/dd/yyyy'}}
            </div>
        </div>
    </div>

</div>
