<article class="dialog brand" itemscope itemtype="http://schema.org/Article">

	<div class="title" itemprop="name"><a ng-href="/blog/post/{{ post.id }}">{{post.title}}</a></div>
	<div class="image crop-height">
		<img ng-src="{{post.imageHead}}" class="img-responsive" itemprop="image"/>
	</div>
	<div class="centered">by <a ng-href="/blog/author/{{post.authorId}}"><span itemprop="author">{{author.displayName}}</span> <img class="avatar-circle" ng-src="{{author.avatar}}?size=25" style="margin:0"/></a></div>
	<div class="content" itemprop="articleBody">
		<p>{{post.content | htmlToPlainText | words:50}}</p>
	</div>
	  <hr class="card-hr">
	<a ng-href="/blog/post/{{ post.id }}">
		<div class="button">
			<div class="center" fit>READ MORE</div>
			<paper-ripple fit></paper-ripple>
		</div>
	</a>

	<div>
		<div type="button" class="post-info-button" ng-click="isCollapsed = !isCollapsed">
			<span class="fa fa-info"></span>
		</div>
		<div collapse="!isCollapsed">
			<div class="post-info">
				Posted at <em itemprop="dateCreated">{{post.date | date:'MM/dd/yyyy @ h:mma'}}</em>
			</div>
		</div>
	</div>
	
	<span style="display:none !important" itemprop="url">/blog/post/{{post.id}}</span>
</article>
