<!--<div class="post-card" ng-controller="BlogController">
    <ul class="list-group">
        <li class="list-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="panel-heading">
                        <h2><a ng-href="/blog/post/{{ post.id }}">{{post.title}}</a></h2>
                        <h5>By: <a ng-href="/blog/author/{{post.author}}">{{post.author}}</a></h5>
                        <h6>Posted on: {{post.date | date:'MM/dd/yyyy @ h:mma'}}</h6>
                    </div>
                    <div class="panel-body">
                        <p>{{post.content | htmlToPlainText | words:25}}</p>
                        <a ng-href="/blog/post/{{ post.id }}">
                            <div class="button">
                               <div class="center" fit>READ MORE</div>
                               <paper-ripple fit></paper-ripple>
                            </div>
                        </a>
                    </div>
    
                    <div class="panel-footer">
                        <ul class="small list-inline" ng-show="post.categories.length">
                            <li><span class="glyphicon glyphicon-tags"></span></li>
                            <li ng-repeat="category in post.categories"><a href="">{{category | lowercase}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>-->

<div class="dialog" ng-controller="BlogController">
  
 <div class="content">
    <div class="title"><a ng-href="/blog/post/{{ post.id }}">{{post.title}}</a></div>
    <hr>
    <div><p>{{post.content | htmlToPlainText | words:25}}</p></div>
 </div>

 <a ng-href="/blog/post/{{ post.id }}">
     <div class="button label-accent">
       <div class="center" fit>READ MORE</div>
       <paper-ripple fit></paper-ripple>
     </div>
 </a>
 
 <div class="post-info">
    <span class="fa fa-pencil"></span> <a ng-href="/blog/author/{{post.author}}">{{post.author}}</a>
 </div>

</div>