<div class="container padded">
	<div class="row">
		<div class="col-md-9">
		
		
			<img ng-src={{post.imageHead}}>
			<ul class="list-group post-animation">
				<li class="list-group">
					<h1>{{post.title.$viewValue}}</h1>
					<li class="list-group"><span class="glyphicon glyphicon-pencil"></span> By {{post.username.$viewValue}}
					<hr>
					<p ng-bind-html="post.content.$viewValue | markdown"></p>
				</li>
			</ul>
			
		
		</div> <!--end column-->
	</div> <!--end row-->
</div> <!--end container -->