<li class="list-group" ng-controller="BlogController">
	<img ng-src="{{post.images[0]}}" class="img-responsive" />
	<h1><a ng-href="/blog/post/{{ post.id }}">{{post.title}}</a></h1>
	<p><span class="glyphicon glyphicon-pencil"></span> By <a ng-href="/blog/author/{{post.author}}">{{post.author}}</a> | 
	<span class="glyphicon glyphicon-time"></span> at {{post.date | date:'MM/dd/yyyy @ h:mma'}}</p>
	<hr>
	<p>{{post.content | words:50}}</p>
	<a ng-href="/blog/post/{{ post.id }}">READ MORE <span class="glyphicon glyphicon-menu-right"></span></a>
</li>