<div class="dialog dialog-user brand">
    <div class="title">
        <div class="row">
            <div class="col-xs-2">
                <img ng-src="{{user.avatar}}" class="user-image img-responsive"></img>
            </div>
            <div class="col-xs-10 user-info">
                <h3><a href="#">{{user.displayName}}</a></h3> <!-- User's name -->
            </div>
        </div>
    </div>
     
    <div class="content">
        
        <div class="row">
            <div class="col-md-12">
                <h4>About</h4><hr>
                <div ng-bind-html="user.bio"></div>
            </div>
        </div>
        
        <div class="row">
            <!--Contact Info-->
            <!--
            <div class="col-md-3">
                <h4>Contact Info</h4><hr>
                <h5>Email</h5>
                <h6>{{author.contact.email}}</h6><hr>
                <h5>Website</h5>
                <h6><a href="http://{{author.contact.website}}">{{author.contact.website}}</a></h6><hr>
                <h5>Facebook</h5>
                <h6><a href="http://{{author.contact.facebook}}">{{author.contact.facebook}}</a></h6><hr>
            </div>
            -->
            <div class="col-md-12">
                <h4>Recent Posts</h4><hr>
                
                <div class="fadeInUp" ng-repeat="post in posts | orderBy: '-date' | limitTo: 5" class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <h5><a ng-href="/blog/post/{{ post.id }}">{{post.title}}</a></h5>
                            </div>
                            <div class="col-md-6">
                                <h5 class="text-right">{{post.date | date:'MM/dd/yyyy'}}</h5>
                            </div>
                        </div>
                        <div class="row">
                                <div class="col-md-12">
                                    <p>{{post.content | htmlToPlainText | words:25}}</p><hr>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>