<ul class="nav navbar-nav navbar-right dropdown-menu-right" ng-show="loggedIn">
    <li bs-dropdown="dropdown">
        <a href id="simple-dropdown" dropdown-toggle>
            <img class="avatar-circle" ng-src="{{avatar}}" /> {{menuName}} <span class="caret"></span>
        </a>
    </li>
</ul>
<!--Removing Log In button, it has no use until users can comment
<ul class="nav navbar-nav navbar-right dropdown-menu-right" ng-hide="loggedIn">
    <li>
        <a href ng-click="showLogInMenu()">
            <span class="glyphicon glyphicon-cog"></span> Log In </span>
        </a>
    </li>
</ul>
--> 