/* Animations */

.dialog-animation {
    &.ng-enter {
        animation: fadeIn 500ms;
    }
    &.ng-leave {
        animation: fadeOut 500ms;
    }
}

.fadeInUp{
    &.ng-enter {
        animation: fadeInUp 1s;
    }
    &.ng-leave {
        animation: fadeOutDown 1s;
    }
}


.post-animation {
    & .ng-enter {
        animation: fadeIn 750ms;
    }
}
.navbar {
    animation: fadeIn 1s;
}
.jumbotron{
    animation: fadeIn 500ms;
}
.img-responsive:hover{
    background-color: #d9534f;
}
.add-image-animation{
    animation: fadeIn 500ms;
}