//Google Design - Polymer
//Base Button + Colors
.button {
  display: inline-block;
  position: relative;
  width: 120px;
  height: 32px;
  line-height: 32px;
  @include border-radius(2px);
  font-size: 0.9em;
  background-color: none;
  color: $colorText;
  text-align: center;
  &.brand{
      background-color: $colorBrand;
      color: $colorWhite;
      &:hover {
        background-color: $colorBrandLight;
    }
  }
  &.accent{
      background-color: $colorAccent;
      color: $colorWhite;
      &:hover {
        background-color: $colorAccentLight;
    }
  }
  &.info{
      background-color: $colorInfo;
      color: $colorWhite;
      &:hover {
        background-color: $colorInfoLight;
    }
  }
  &.disabled{
    background-color: $colorStatusbar;
    color: $colorDisabled;
  }
  &:hover {
    @include transition(background-color .25s 0s);
  }
}

button {
  border: none;
  &:focus{
    outline: 0;
  }
}

// Label Colors
.label-brand {
  color: $colorBrand;
  &:hover {
    color: $colorBrandLight;
  }
}
.label-accent {
  color: $colorAccent;
  &:hover {
    color: $colorAccentLight;
  }
}
.label-info {
  color: $colorInfo;
  &:hover {
    color: $colorInfoLight;
  }
}
.label-disabled { color: $colorDisabled; }

//Button Sizes
.large {
  width: 150px;
  height: 42px;
  line-height: 42px;
  a {
    color: $colorWhite;
  }
}
.small {
  width: 100px;
  height: 22px;
  line-height: 22px;
}

// Raised Button
.raised {
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  &:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
    transition-delay: .0s;
    @include transition(box-shadow .5s 0s);
  }
}

/* Icon Button */
.icon-button {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 56px;
  > .core-icon {
      position: relative;
      top: 5px;
      left: 6px;
      margin: 16px;
      transition: -webkit-transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:hover{
    > .core-icon {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }
  }
  > paper-ripple {
     overflow: hidden;
     color: #646464; 
  }
}

/* Floating Action Button */
.fab {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 56px;
  @include border-radius(50%);
  color: #fff;
  overflow: hidden;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  &span{
      position:relative;
      top: 15;
  }
  > .core-icon {
      position: relative;
      top: 5px;
      left: 6px;
      margin: 16px;
      transition: -webkit-transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }
  &.brand{
      background-color: $colorBrand;
      color: $colorWhite;
  }
  &.accent{
      background-color: $colorAccent;
      color: $colorWhite;
  }
  &.info{
      background-color: $colorInfo;
      color: $colorWhite;
  }
  &.disabled{
      background-color: $colorStatusbar;
      color: $colorDisabled;
  }
  &:hover{
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    transition-delay: 0s;
    > .core-icon {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }
  }
}

.toastr-buttons {
  & .col-xs-6{
    padding: 0px;
    & .button{
      background-color: none;
    }
  }
}