.card, .dialog {
  position: relative;
  border-radius: 3px;
  vertical-align: top;
  background-color: $colorWhite;
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.05);
  margin: 10px 10px 25px 10px;
  >.image {
    color: $colorWhite;
    > img{
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.dialog {
  box-sizing: border-box;
  margin: 0px 0px 20px 0px;
  > .content {
      font-size: 0.9em;
      padding: 15px;
      color: $colorText;
      & blockquote {
        border-left: 5px solid $colorAppbar;
      }
    }
  & .title {
      text-align: center;
      font-size: 1.3em;
      font-weight: $typeLight;
      padding: 0;
      color: $colorBase;
      background-color: $colorAppbar;
      margin: 0px;
      border-radius: 3px 3px 0px 0px;
      > a {
        border-radius: 3px 3px 0px 0px;
        background-color: $colorAppbar;
        color: $colorBackgroundDark;
        &:hover {
          background-color: $colorStatusbar;
        }
      }
      > * {
        display: block;
        padding: 15px;
        margin: 0;
      }
      &.user {
        text-align: left;
      }
    }
  & .button {
      width: 90px;
      margin-left: 10px;
      color: $colorWhite;
    }
  & img {
    max-width: 100%;
  }
  & .disabled {
    opacity: 0.4;
  }
}


//Card Specific Colors
.brand {
  & .title {
    background-color: $colorBrand;
    color: $colorWhite;
    > a {
      color: $colorWhite;
    	padding: 15px;
    	background-color: $colorBrand;
    	&:hover {
    	  color: $colorWhite !important;
	      background-color: $colorBrandLight;
    	}
    }
  }
  & .content{
    & blockquote {
      border-left: 5px solid $colorBrand;
    }
  }
  & .post-info {
    > a {
      color: $colorBrand;
    }
  }
  & .post-footer-button {
      color: $colorBrand;
    }
  & .button {
    color: $colorWhite;
  }
}
.accent {
  > .title {
    background-color: $colorAccent;
    color: $colorWhite;
    > a {
      color: $colorWhite;
    	padding: 15px;
    	background-color: $colorAccent;
    	&:hover {
    	  color: $colorWhite !important;
	      background-color: $colorAccentDark;
    	}
    }
  }
  > .content{
    & blockquote {
      border-left: 5px solid $colorAccent;
    }
  }
  & .post-footer-button {
      color: $colorAccent;
    }
  > .button {
    color: $colorWhite;
  }
}
.info {
  > .title {
    background-color: $colorInfo;
    color: $colorWhite;
  }
  > .content{
    & blockquote {
      border-left: 5px solid $colorInfo;
    }
  }
  & .post-footer-button {
      color: $colorInfo;
    }
  > .button {
    color: $colorInfo;
  }
}
.warning {
  > .title {
    background-color: $colorWarning;
    color: $colorWhite;
  }
  > .content{
    & blockquote {
      border-left: 5px solid $colorWarning;
    }
  }
  & .post-footer-button {
      color: $colorWarning;
    }
  > .button {
    color: $colorWarning;
  }
}
.success {
  > .title {
    background-color: $colorSuccess;
    color: $colorWhite;
  }
  > .content{
    & blockquote {
      border-left: 5px solid $colorSuccess;
    }
  }
  & .post-footer-button {
      color: $colorSuccess;
    }
  > .button {
    color: $colorSuccess;
  }
}

.post-card{
  padding: 20px;
  background-color: $colorWhite;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.05);
  &:hover {
    box-shadow: 0 10px 17px 0 rgba(0, 0, 0, 0.2);
    transition-delay: .0s;
    @include transition(box-shadow .5s 0s);
  }
}

.post-info {
  background-color: $colorAppbar;
  padding: 15px;
  text-align: center;
}

.post-footer-button {
  font-size: 1.2em;
  color: $colorWhite;
  float: right;
  position: relative;
  bottom: 33px;
  padding-right: 15px;
}

.card-hr{
  margin-bottom: 0;
}


//User Card
.dialog-user{
  & a {
    color: $colorBrand;
  }
}
.user-info {
  text-align: left;
  > h3 {
    margin-top: 0px;
  }
  a {
    color: $colorWhite;
  }
}
.user-image{
  background-color: $colorWhite;
  border-radius: 3px;
}

article img {
  max-width: 95%
}