//Brand Colors
$colorBrand:        #0091EA;
$colorBrandLight:   #00B0FF;
$colorBrandDark:    #01579B;

//Accent Colors
$colorAccent:       #FF3D00;
$colorAccentLight:  #FF5722;
$colorAccentDark:   #DD2C00;

$colorInfo:         #6200EA;
$colorInfoLight:    #651FFF;
$colorInfoDark:     #311B92;

//Text / Icon Colors
$colorBase:         #000000;
$colorWhite:        #FFFFFF;
$colorText:         lighten ( $colorBase, 13);    //87% of base
$colorSecondary:    lighten ( $colorBase, 46);    //54% of base
$colorDisabled:     #757575; //lighten ( $colorBase, 63);    //38% of base
$colorDivider:      lighten ( $colorBase, 88);    //12% of base

//Background Colors
$colorStatusbar:    #E0E0E0;
$colorAppbar:       #F5F5F5;
$colorBackground:   #FAFAFA;
$colorCard:         #FFFFFF;

//Dropshadows
$colorDropshadow:               #212121;
$colorDropshadowDarker:         darken ( $colorDropshadow, 90);
$colorDropshadowFloat:          #9E9E9E;
$colorDropshadowFloatDarker:    #757575;