// Navbar
.navbar{
  border-radius: 0px;
  margin-bottom: 0px;
}

.navbar-header {
    > .navbar-toggle {
        border: none;
        & .icon-bar {
            background-color: $colorWhite;
        }
        &:hover {
            background-color: $colorBrandLight;
            > span {
                color: $colorWhite;
            }
        }
        &:focus {
            background-color: $colorBrandLight;
        }
    }
}

.navbar-default {
    background-color: $colorBrand;
    border: none;
  .navbar-brand {
      color: $colorWhite;
      &:hover {
          color: $colorWhite;
      }
  }
  .navbar-nav {
      > li {
        & a {
            color: $colorWhite;
            &:hover {
                color: $colorWhite;
                background-color: $colorBrandLight;
                @include transition(background-color .25s 0s);
                @include transition(color .2s 0s);
            }
            &:focus {
                color: $colorWhite;
            }
        }  
      }
    >.active {
      & a {
        background-color: $colorBrandLight;
        color: $colorWhite;
        &:focus {
            background-color: $colorBrandLight;
            color: $colorWhite;
        }
        &:hover {
            background-color: $colorBrandLight;
            color: $colorWhite;
            @include transition(background-color .25s 0s);
        }
      }
    }
  }
}

// Pagination
.pagination{
    margin: 10px 0px 0px 0px;
    padding: 0px;
    >li {
        >a, >span, >a:hover, >span:hover {
            color: $colorBrand;
        }
        &:last-child, &:first-child {
            >a {
                border-radius: 3px;
            }
            >span {
                border-radius: 0px;
            }
        }
    }
    >.active {
        >a, >span {
            &:focus, &:hover {
                background-color: $colorBrand;
                border-color: $colorBrand;  
            }
        }
    }
}

.dropdown-menu {
    box-shadow: 0 10px 17px 0 rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    overflow: hidden;
}

#avatar {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    box-shadow: 0 0 8px rgba(0,0,0,.6);
    -moz-box-shadow: 0 0 8px rgba(0,0,0,.6);
    -webkit-box-shadow: 0 0 8px rgba(0,0,0,.6);
    margin-top: -4px;
    margin-right: 0;
    margin-bottom: -4px;
    margin-left: -4px;
}

.pagination>.active>a, .pagination>.active>span {
    z-index: 2;
    color: $colorWhite;
    cursor: default;
    background-color: $colorBrand;
    border-color: $colorBrand;
}

.pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: $colorBrandDark;
    border-color: $colorBrandDark;
}