// Font Weights / Styles
$typeThin:      100;
$typeLight:     300;
$typeNormal:    400;
$typeMedium:    500;
$typeBold:      700;
$typeBlack:     900;

// Base Font & Size
$typeFamilyRoboto: 'Roboto', sans-serif;
$typeBaseSize: 1.5em;

//Typography Defaults
body {
    font-size: $typeBaseSize;
    font-weight: $typeNormal;
    font-family: $typeFamilyRoboto;
    word-wrap: break-word;
}

h1 {font-weight: $typeLight; color: $colorBrand;}
h2, h3, h4, h6 {font-weight: $typeNormal;}
h5 {font-weight: $typeMedium;}

blockquote{
    border-left: 5px solid $colorBrand;
    font-size: 1.2em;
}

a {
    color: $colorAccent;
    &:hover{
        color: $colorAccentLight;
        text-decoration: none;
        @include transition-duration(500ms);
    }
}

code {
    color: $colorInfo;
    background-color: $colorAppbar;
}